<LinkTo 
  @route="cart" 
>
  <div class="beverage">
    <Beverage::Image 
    src={{@beverage.image}} 
    alt="A picture of a {{@beverage.name}}" 
  />
  <Beverage::Details
    @isIndex={{@isIndex}} 
    @beverage={{@beverage}}
  />
  </div>
</LinkTo>