<article class="beverage">
  <Beverage::Image
    src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Small_cup_of_green_tea.jpg"
    alt="A picture of a Green tea"
  />
  <div class="details">
    <h3>Green tea</h3>
    <div class="detail price">
      <span>Price: </span> 3.11
    </div>
  </div>
</article>