<article class="beverage">
  <Beverage::Image
    src={{@beverage.image}}
    alt="A picture of a {{@beverage.name}}"
  />
  <div class="details">
    <h3>{{@beverage.name}}</h3>
    <div class="detail price">
      <span>Price: </span> {{@beverage.price}}
    </div>
  </div>
</article>