<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Beverages</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="cart" class="cart-link">
      <i class="fa fa-shopping-cart"></i>
    </LinkTo>
  </div>
</nav>