<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Beverages</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="cart" class="menu-cart">
      Cart
    </LinkTo>
  </div>
</nav>