<div class="beverage-details">
  <section>
    <div>
      <h3>{{@beverage.name}}</h3>
      <div class="detail price">
        <span>Price: </span> {{currency @beverage.price}}
      </div>
    </div>
  </section>
  <section>
    <div>
      <div class="detail offer">
        <span>Offer: </span> {{@beverage.offer}}
      </div>
    </div>
  </section>
  {{#if @isIndex}}
  <section class="d-flex justify-content-between align-items-end">
    <div>
      <button type="button" class="btn btn-info add-to-cart" {{on "click" this.addToCart}}>
        <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i>
        Add to cart
      </button>
    </div>
  </section>
  {{/if}}

</div>