<main class="container mt-5">
  <div class="beverages">
    <ul class="results">
      {{#each @model as |beverage|}}
      <li>
        <Beverage @beverage={{beverage}} />
      </li>
      {{/each}}
    </ul>
  </div>
</main>