<main class="container mt-5">
  <Jumbo>
    <h2>Beverages Placeholder</h2>
    <p>text place holder</p>
  </Jumbo>

  <div class="beverages">
    <ul class="results">
      {{#each @model as |beverage|}}
      <li>
        <Beverage @beverage={{beverage}} />
      </li>
      {{/each}}
    </ul>
  </div>
</main>