<Jumbo>
  <h2>Beverages Placeholder</h2>
  <p>text place holder</p>
  <LinkTo @route="cart" class="button">Go to Cart</LinkTo>
</Jumbo>

<div class="beverages">
  <ul class="results">
    <li><Beverage /></li>
    <li><Beverage /></li>
    <li><Beverage /></li>
  </ul>
</div>